html,body{
    padding:0;
    margin:0;
    height:100%;
}body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/313022.jpg");
    font-family:'Times New Roman', Times, serif ;
}
/*Credit to shireen Taj https://freefrontend.com/css-text-effects/ */
h1 {
    font-size: 60px;
    text-align: center;
    color: #090811;
    font-weight: 1000;
    text-shadow: 3px 3px 0px #444343,
                 5px 5px 0px #9baca1,
                 8px 8px 0px #d3dada;
    margin-bottom: 20px;
}
h4{
    text-align: center;
    margin-top: 0%;
    font-size: 15px;
    color: white;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
    margin-bottom:0%;
    width: 100%;
}
.calculator{
    background-image:url(./images/313022.jpg);
    width: 450px;
    height: 700px;
    padding: 20px;
    border-radius: 10px;
    border:  8px solid  #171718;
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    gap: 15px;
}
#display{
    height: 65px;
    width:100%;
    border:  4px solid  #171718;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    text-align: right;
    font-size:xx-large;
    padding:0 10px;
    align-items: center;
    background: transparent;
    overflow: hidden;      
    white-space: nowrap;  
    text-overflow: ellipsis;
}
.buttons-container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    
}

button{
  border-radius:25px;  
  flex: 1 18%;
  padding: 15px 10px;
  font-size:25px;

} 
button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.opBtn{
    background-color: orange;
}
.acBtn{
    background-color: red;
}
.memBtn{
    background-color: rgb(255, 255, 255);
}
.numBtn{
    background-color: rgb(255, 255, 255);
}
.operBtn{
    background-color: rgb(255, 255, 255);
}
.rsltBtn{
     background-color: orange;
}




























