.calculator{
    background: lightGrey;
    width: max-content;
    margin: auto;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
input{
    display: flex;
    align-self: self-start;
    width:400px;
    height:30px
}
.buttons-container{
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    padding :10px 6px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button{
  border-radius: 15px;  
  flex: 1 25%;
  padding: 15px;
  font-size:15px;

} 
.op-btn{
    background-color: orange;
}
.ac-btn{
    background-color: red;
}
.mem-btn{
    background-color: rgb(255, 255, 255);
}
.num-btn{
    background-color: rgb(255, 255, 255);
}
.oper-btn{
    background-color: rgb(255, 255, 255);
}





























