html,body{
    padding:0;
    margin:0;
    height:100%;
}body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/313022.jpg");
    font-family:'Times New Roman', Times, serif ;
}
.calculator{
    background: lightGrey;
    width: max-content;
    margin: auto;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
input{
    display: flex;
    align-self: self-end;
    width:400px;
    height:30px
}
.buttons-container{
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    padding :10px 6px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button{
  border-radius:25px;  
  flex: 1 25%;
  padding: 15px 10px;
  font-size:25px;
  width: 30px;

} 
.op-btn{
    background-color: orange;
}
.ac-btn{
    background-color: red;
}
.mem-btn{
    background-color: rgb(255, 255, 255);
}
.num-btn{
    background-color: rgb(255, 255, 255);
}
.oper-btn{
    background-color: rgb(255, 255, 255);
}





























